__pycache__
/.dvt
/.project
/.settings
.dtv/
.idea/
*.vcd
*.vvp
*.gtkw
save.gtkw
*.log
*.json
temp.txt
doc/
app/.idea
abc.history
lut3.txt
lut4.txt
lut_report.txt
app/__pycache__
app/config_design/*.v
net/*.v
p_r_out/*
!p_r_out/.gitkeep
